.hero-page {
    background-image: url('images/hero-background.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero-content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
}

.hero-content h1 {
  font-size: 5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

.hero-content h3 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.why-us {
    background-color: azure;
    color: antiquewhite;
    min-height: 100vh;
    padding: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.why-us h2 {
    font-size: 5rem;
    font-family: "Roboto", serif;
    font-weight: 600;
    font-style: normal;
}

.better-list {
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.custom-letter {
    font-size: 4rem;
    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;
    color: #09cfe9;
    margin-right: 1rem;
}

.gradient-background {
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    background-size: 200% 200%;
    animation: gradient-animation 10s ease infinite;
}

@keyframes gradient-animation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}